<div class="container">
  <h1 class="mt-3">All our Flats</h1>
  <div class="row">
    <% @num = 0 %>
    <% @flats.each do |flat| %>
      <% @num += 1 %>
      <div class="card mt-3 me-3 mb-3 p-0" style="width: 25rem;">
        <div class="col">
          <%= image_tag "flat#{@num}.png", class:"card-img-top"%>
          <div class="card-body h-auto">
            <h5 class="card-title"><%= flat.name  %></h5>
            <p class="card-text"><%= flat.description %></p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><%= flat.address %></li>
            <li class="list-group-item"><i class="fa-solid fa-people-roof fa-lg"></i> <%= flat.number_of_guests %> <i class="fa-solid fa-euro-sign fa-lg"></i><%= flat.price_per_night %></li>
            <li style="list-style-type:none"></li>
          </ul>
          <div class="card-body">
            <%= link_to 'More Info', flat_path(flat), class:"card-link" %>
            <%= link_to 'Edit', edit_flat_path(flat), class:"card-link" %>
            <%= link_to 'Remove', flat_path(flat), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class:"card-link" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
</div>
